/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('../css/reset.css');
@import url('../css/header.css');

body {
  font-family: "Montserrat", sans-serif;
}

section.main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 40px;
}

section.main a {
  border: 1px solid #000;
  padding: 8px 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
  padding: 25px;
}

input,
textarea {
  width: 100%;
  max-width: 360px;
  padding: 8px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #2E2F42;
  box-sizing: border-box;
}

input[type="text"] {
  height: 40px;
}

input[type="radio"] {
  height: 20px;
}

input:hover,
textarea:hover,
input:focus,
input:focus-visible,
textarea:focus {
  border: 1px solid #4E75FF;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

button.blue {
  background-color: #4e75ff;
}

button.blue:hover {
  background-color: #6c8cff;
}

button.red {
  background-color: #ff4e4e;
}

button.red:hover {
  background-color: #ff7070;
}

button:disabled,
button:disabled:hover {
  background-color: #cfcfcf;
  color: #989898;
}

.date {
  margin-top: 60px;
  display: flex;
  gap: 8px;
}

.timer {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}

.timer .field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer .field .value {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.timer .field .label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f42;
  text-transform: uppercase;
}

.iziToast {
  padding: 20px 60px 20px 44px !important;
}

.iziToast>.iziToast-cover {
  left: 20px !important;
  background-color: transparent !important;
}

.iziToast>.iziToast-body {
  margin-left: 0 !important;
}

strong.iziToast-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}

p.iziToast-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #fff;
}

.iziToast>.iziToast-close {
  background: url('../img/bi_x-lg.svg') no-repeat 50% 50% !important;
  background-size: 16px !important;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}

.form fieldset {
  margin: 16px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
}

.form>label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form fieldset label {
  display: inline-flex;
  align-items: center;
  gap: 14px;
}

form.search {
  width: 371px;
  display: flex;
  gap: 8px;
  margin: 0 auto;
}

.gallery {
  margin-top: 32px;
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.item {
  position: relative;
  border: 1px solid #808080;
  box-sizing: border-box;
}

.views {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 48px;
  background: #fff;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #808080;
  border-left: 1px solid #808080;
  border-right: 1px solid #808080;
  box-sizing: border-box;
}

.view-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.view-title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.view-value {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.site-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1000;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease;
}

.site-loader.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid #4e75ff;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}